<div>
    <div>
        {{#each products}}
            <div>
                <p> Id: {{this._id}}</p>
                <img  src="{{this.thumbnail}}">
                <div>
                    <h1> {{this.title}}</h1>
                    <h2> {{this.description}}</h2>
                    <h2> $ {{this.price}}</h2>

                    <button >Agregar al carrito</button>
                </div>
            </div>
            {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/socket/products.js"></script>